#include "wx/msw/wx.rc"

APP_ICON    ICON    "icon.ico"
LOGIN_IC    ICON    "login.ico"
ADDUS_IC    ICON    "add_user.ico"
SPLASH      RCDATA  "splash.png"
SPLBMP      BITMAP  "splash.bmp"
FILEBMP     BITMAP  "file.bmp"
BMP_NEW     BITMAP  "new.bmp"
SAVEBMP     BITMAP  "save_icon.bmp"
HELPBMP     BITMAP  "help.bmp"
